<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="window.location='/dashboard/list';">Your checkouts</button>
    <br /><br />
    <table border="2">
      <tr>
        <th style="padding: 5px">ID</th>
        <th style="padding: 5px">Books</th>
        <th style="padding: 5px">Author</th>
        <th style="padding: 5px"></th>
      </tr>

      {{{body}}}

    </table>
    <br />
    <button class="logout-btn" onclick="window.location='/signin/logout'">
      Logout
    </button>
  </body>
  <script src="../../public/javascripts/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>